body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
#_idContainer000, #_idContainer016, #_idContainer023 {
	display:inline-block;
	height:842px;
	width:1191px;
}
#_idContainer001, #_idContainer022 {
	display:inline-block;
	height:838px;
	width:1191px;
}
#_idContainer002, #_idContainer021 {
	display:inline-block;
	height:842px;
	width:1193px;
}
#_idContainer003, #_idContainer010 {
	display:inline-block;
	height:842px;
	width:1195px;
}
#_idContainer004 {
	display:inline-block;
	height:840px;
	width:1194px;
}
#_idContainer005 {
	display:inline-block;
	height:841px;
	width:1193px;
}
#_idContainer006 {
	display:inline-block;
	height:840px;
	width:1190px;
}
#_idContainer007, #_idContainer013 {
	display:inline-block;
	height:839px;
	width:1192px;
}
#_idContainer008, #_idContainer020 {
	display:inline-block;
	height:842px;
	width:1197px;
}
#_idContainer009, #_idContainer028 {
	display:inline-block;
	height:841px;
	width:1192px;
}
#_idContainer011 {
	display:inline-block;
	height:839px;
	width:1193px;
}
#_idContainer012 {
	display:inline-block;
	height:843px;
	width:1198px;
}
#_idContainer014, #_idContainer027 {
	display:inline-block;
	height:842px;
	width:1198px;
}
#_idContainer015 {
	display:inline-block;
	height:848px;
	width:1199px;
}
#_idContainer017 {
	display:inline-block;
	height:842px;
	width:1196px;
}
#_idContainer018, #_idContainer026 {
	display:inline-block;
	height:842px;
	width:1194px;
}
#_idContainer019 {
	display:inline-block;
	height:844px;
	width:1193px;
}
#_idContainer024 {
	display:inline-block;
	height:838px;
	width:1193px;
}
#_idContainer025 {
	display:inline-block;
	height:848px;
	width:1201px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
